<footer>
  {%- block next_prev %}
  {% if page and page.next_page or page.previous_page %}
    <div class="rst-footer-buttons" role="navigation" aria-label="footer navigation">
      {% if page.next_page %}
        <a href="{{ page.next_page.url }}" class="btn btn-neutral float-right" title="{{ page.next_page.title }}">Next <span class="icon icon-circle-arrow-right"></span></a>
      {% endif %}
      {% if page.previous_page %}
        <a href="{{ page.previous_page.url }}" class="btn btn-neutral" title="{{ page.previous_page.title }}"><span class="icon icon-circle-arrow-left"></span> Previous</a>
      {% endif %}
    </div>
  {% endif %}
  {%- endblock %}

  <hr/>

  <div role="contentinfo">
    <!-- Copyright etc -->
    {% if config.copyright %}
      <p>{{ config.copyright }}</p>
    {% endif %}
  </div>

   <div >
    <div  style="float: left">
      <div style="margin-bottom: 24px" class="bilibili-footer__links">
        <a href="//open.biligame.com" target="_blank" style="font-size: 14px;color: #99a2aa;margin-right: 35px;">游戏开放平台</a>
        <a href="https://www.bilibili.com/blackboard/aboutUs.html" target="_blank" style="font-size: 14px;color: #99a2aa;margin-right: 35px;">关于我们</a>
        <a href="https://www.bilibili.com/blackboard/join.html" target="_blank" style="font-size: 14px;color: #99a2aa;margin-right: 35px;">加入我们</a>
        <a href="http://jiazhang.biligame.com/" target="_blank" style="font-size: 14px;color: #99a2aa;margin-right: 35px;">家长监控</a>
      </div>
      <p style="margin-bottom: 0px;padding-bottom: 0px;">
          <small style="margin-bottom: 0px;padding-bottom: 0px;font-size: 12px;color: #bdc1c7;">抵制不良游戏 拒绝盗版游戏 注意自我保护 谨防上当受骗 适度游戏益脑 沉迷游戏伤身 合理安排时间 享受健康生活</small>
      </p>
      <p style="margin-top: 0px;padding-top:0px;">
          <small style="margin-top: 0px;padding-top: 0px;font-size: 12px;color: #bdc1c7">芜湖享游网络技术有限公司 | 皖网文许字[2014]1055-002号 | 皖ICP备15002422号-2</small>
      </p>
    </div>
    <div  style="float: right;">
      <div  style="float: right;">
       <!--  <a href="https://www.bilibili.com/blackboard/contact.html"  style="margin-right: 25px;">
            <img src="/img/msg.png" alt="logo" height="50" width="50">
        </a> -->
        <a href="http://weibo.com/bilibiliweb" style="margin-bottom: 0px;padding-bottom: 0px;" target="_blank">
            <img src="/img/weibo.png" alt="logo" height="40" width="40">
        </a>
      </div>
      <p style="margin-top: 25px;padding-top: 20px;">
          <small  style="float: right;font-size: 12px;color: #bdc1c7">COPYRIGHT © 2009-2017 BILIBILI ALL RIGHTS RESERVE.</small>
      </p>
    </div>
  </div>

</footer>
